* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background: black;
  padding: 10px 40px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }

.menu {
  text-align: center; }
  .menu li {
    display: inline-block;
    position: relative; }
    .menu li a {
      display: inline-block;
      text-decoration: none;
      font-family: 'Noto Sans JP', sans-serif;
      color: white;
      padding: 0px 30px; }
    .menu li a:hover {
      display: inline-block;
      text-decoration: none;
      font-family: 'Noto Sans JP', sans-serif;
      color: orange;
      padding: 0px 30px; }

body {
  background-image: url(../img/PORTADA.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top; }

section {
  background: black;
  margin: 5%; }

.titulo {
  color: white;
  font-size: 100px;
  font-family: 'Bitter', serif;
  margin-top: 30%;
  position: relative;
  text-align: center;
  height: 100vh;
  text-shadow: 2px 2px 8px #332e2e; }

.subtitulo {
  font-family: 'Bitter', serif;
  font-size: 40px;
  font-style: bold;
  color: white;
  padding: 25px 0px;
  text-align: center; }

/*INTEGRANTES*/
.contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr); }
  .contenedor article {
    text-align: center;
    padding: 0px 0px 30px; }

.nombre {
  font-family: 'Bitter', serif;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 25px 0px 0px; }

.instrumento {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-size: 15px;
  color: grey;
  text-align: center; }

.imagen-integrante {
  border-radius: 100%;
  margin: auto;
  height: 250px; }

/*HISTORA*/
.historia {
  color: grey;
  padding: 0% 5%; }
  .historia p {
    font-family: 'Noto Sans JP', sans-serif; }

.videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap row;
  flex-flow: wrap row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/*DISCOGRAFIA*/
.disco {
  height: 300px; }
