*{
    margin:0;
    padding: 0;
	box-sizing: border-box;
}

header {
    background: #343a40;
    padding: 0px 40px;
    overflow: auto;
    position: sticky;
	top: 0;
	z-index: 100;
}
/* nav viejo
.menu { 
    text-align: center;
    li {
        display:inline-block;
        position: relative;
        a {
            display:inline-block;
            text-decoration: none;
            font-family: 'Noto Sans JP', sans-serif;
            color: white;
            padding: 0px 30px;
        }
        a:hover {
            display:inline-block;
            text-decoration: none;
            font-family: 'Noto Sans JP', sans-serif;
            color: orange;
            padding: 0px 30px;
        }
    }   
}
*/

.menu-responsivo {
    li {
        a {
            padding-right: 40px !important;
            padding-left: 40px !important;
        }
        a:hover {
            color: orangered !important;
        }
    }
}

body {
    background-image: url(../img/PORTADA.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

section {
    background: black;
    margin: 5%;
    padding:30px 0px;
    
}

.titulo {
    color: white;
    font-size: 150px;
    font-family: 'Bitter', serif;
    font-weight: bold;
    margin-top: 27%; 
    position: relative;
    text-align: center;
    height: 100vh;
    text-shadow: 2px 2px 8px #332e2e;
}



.subtitulo {
    font-family: 'Bitter', serif;
    font-size: 40px;
    font-style: bold;
    color: white;
    padding: 25px 0px;
    text-align: center;
}


/*INTEGRANTES*/

.contenedor {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    
}

.integrantes {
    text-align: center;
    padding: 0px 0px 30px;
    
}
.nombre {
    font-family: 'Bitter', serif;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 25px 0px 0px;
}

.instrumento {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-size: 15px;
    color: grey;
    text-align: center;
}

.imagen-integrante {
    border-radius: 100%;
    margin: auto;
    height: 250px;
}


/*HISTORA*/

.historia {
    color:grey;
    padding: 0% 5%;
        p {
            font-family: 'Noto Sans JP', sans-serif;
        }
}
.videos {
    display: flex;
    padding: 10px 60px;
    justify-content: space-around;
    flex-flow: wrap row;
    align-items: center;
}


/*DISCOGRAFIA*/

.centrar {
    text-align: center;
}


@media (max-width: 575px) {
    .disco{
        height: 300px;
    }
    .margen-bottom {
        margin-bottom: 20px;
    }
  }

  // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .disco{
        height: 225px;
    }
    .margen-bottom {
        margin-bottom: 20px;
    }
  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .disco{
        height: 300px;
    }
  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .margen-bottom {
        margin-bottom: 50px;
    }
    .disco{
        height: 300px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }




/*
.contenedor-discos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    column-gap: 0px;
    padding: 10px;
    justify-items: stretch;
}

.disco {
    width: 300px;
    padding: 0px;
    background: url("img/ciudad:jpg");
    img {
        justify-self: center;
        
    }
}
*/

/*CONTACTO

.contenedor-contacto {
    display: inline;
    text-align: center;
}

.input-nombre{
    display: inline-block;
    width: 40px;
}

.input-mail {
    display: inline-block;
    width: 200px;
}
*/
.formulario {
    list-style: none;
    form {
        button {
            float: right;
            margin-top: 10px;
        }
    }
}


/*FOOTER*/
footer {
    height: 100px;
    background: #212529;
}