*{
    margin:0;
    padding: 0;
	box-sizing: border-box;
}

@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";

header {
    background: #343a40;
    padding: 0px 40px;
    overflow: auto;
    position: sticky;
	top: 0;
	z-index: 100;
}
/* nav viejo
.menu { 
    text-align: center;
    li {
        display:inline-block;
        position: relative;
        a {
            display:inline-block;
            text-decoration: none;
            font-family: 'Noto Sans JP', sans-serif;
            color: white;
            padding: 0px 30px;
        }
        a:hover {
            display:inline-block;
            text-decoration: none;
            font-family: 'Noto Sans JP', sans-serif;
            color: orange;
            padding: 0px 30px;
        }
    }   
}
*/

.menu-responsivo {
    li {
        a {
            padding-right: 40px !important;
            padding-left: 40px !important;
        }
        a:hover {
            color: orangered !important;
        }
    }
}

body {
    background-image: url(../img/PORTADA.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

section {
    background: black;
    margin: 5%;
    padding:70px 0px;
    position: relative;
   
}

/*TITULO*/

@media (max-width: 575px) { 
    .titulo {
        color: white;
        font-size: 50px;
        font-family: 'Bitter', serif;
        font-weight: bold;
        margin-top: 90%; 
        position: relative;
        text-align: center;
        height: 100vh;
        text-shadow: 2px 2px 8px #332e2e;
    }    
}

@media (min-width: 576px) { 
    .titulo {
        color: white;
        font-size: 90px;
        font-family: 'Bitter', serif;
        font-weight: bold;
        margin-top: 55%; 
        position: relative;
        text-align: center;
        height: 100vh;
        text-shadow: 2px 2px 8px #332e2e;
    }    
}

@media (min-width: 768px) { 
    .titulo {
        color: white;
        font-size: 100px;
        font-family: 'Bitter', serif;
        font-weight: bold;
        margin-top: 45%; 
        position: relative;
        text-align: center;
        height: 100vh;
        text-shadow: 2px 2px 8px #332e2e;
    }    
}

@media (min-width: 992px) { 
    .titulo {
        color: white;
        font-size: 150px;
        font-family: 'Bitter', serif;
        font-weight: bold;
        margin-top: 27%; 
        position: relative;
        text-align: center;
        height: 100vh;
        text-shadow: 2px 2px 8px #332e2e;
    }
}




/*SUBTITULOS*/

@media (max-width: 575px) { 
    .subtitulo {
        font-family: 'Bitter', serif;
        font-size: 20px;
        font-style: bold;
        color: white;
        padding: 25px 0px;
        text-align: center;
    }    
}

@media (min-width: 576px) { 
    .subtitulo {
        font-family: 'Bitter', serif;
        font-size: 25px;
        font-style: bold;
        color: white;
        padding: 25px 0px;
        text-align: center;
    }    
}

@media (min-width: 768px) { 
    .subtitulo {
        font-family: 'Bitter', serif;
        font-size: 40px;
        font-style: bold;
        color: white;
        padding: 25px 0px;
        text-align: center;
    }    
}

@media (min-width: 992px) { 
    .subtitulo {
        font-family: 'Bitter', serif;
        font-size: 40px;
        font-style: bold;
        color: white;
        padding: 25px 0px;
        text-align: center;
    }
}




/*INTEGRANTES*/

.contenedor {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
        @media (max-width: 575px) { 
            img {
                height: 200px;    
            }
        }
        @media (min-width: 576px) { 
            img {
                height: 275px;    
            }
        }
        @media (min-width: 768px) { 
            img {
                height: 250px;
            }
        }
        @media (min-width: 992px) { 
            img {
                height: 275px;
            }
        }
        
}

/*
.contenedor {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    
}*/

.integrantes {
    text-align: center;
    padding: 0px 0px 30px;
}
.integrantes:hover {
    
    transform: skew(-10deg);
        
}
@media (max-width: 575px) { 
    .nombre {
        font-family: 'Bitter', serif;
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 25px 0px 0px;
        margin-bottom: 3px;
    }    
}
@media (min-width: 576px) { 
    .nombre {
        font-family: 'Bitter', serif;
        color: white;
        font-size: 15px;
        text-align: center;
        padding: 25px 0px 0px;
        margin-bottom: 5px;
    }    
}
@media (min-width: 768px) { 
    .nombre {
        font-family: 'Bitter', serif;
        color: white;
        font-size: 15px;
        text-align: center;
        padding: 25px 0px 0px;
        margin-bottom: 10px;
    }    
}
@media (min-width: 992px) { 
    .nombre {
        font-family: 'Bitter', serif;
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 25px 0px 0px;
        margin-bottom: 15px;
    }    
}


@media (max-width: 575px) { 
    .instrumento {
        font-family: 'Noto Sans JP', sans-serif;
        font-style: normal;
        font-size: 10px;
        color: grey;
        text-align: center;
        
    }    
}
@media (min-width: 576px) { 
    .instrumento {
        font-family: 'Noto Sans JP', sans-serif;
        font-style: normal;
        font-size: 12px;
        color: grey;
        text-align: center;
    }   
}
@media (min-width: 768px) { 
    .instrumento {
        font-family: 'Noto Sans JP', sans-serif;
        font-style: normal;
        font-size: 13px;
        color: grey;
        text-align: center;
    }    
}
@media (min-width: 992px) { 
    .instrumento {
        font-family: 'Noto Sans JP', sans-serif;
        font-style: normal;
        font-size: 15px;
        color: grey;
        text-align: center;
    }    
}






/*
.nombre {
    font-family: 'Bitter', serif;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 25px 0px 0px;
}

.instrumento {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-size: 15px;
    color: grey;
    text-align: center;
}
*/
.imagen-integrante {
    border-radius: 100%;
    margin: auto;
    height: 250px;
    padding: 0px 30px;
}


/*HISTORIA*/

.historia {
    padding: 0% 5%;
        p {
            color:grey;
            font-family: 'Noto Sans JP', sans-serif;
        }
}






.contenedor-videos {
    display: flex;
    padding: 10px 60px;
    justify-content: space-around;
    flex-flow: wrap row;
    align-items: left;
    list-style: none !important;
        
}

@media (max-width: 575px) { 

}

  // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

/*DISCOGRAFIA*/

.centrar {
    text-align: center;
}


@media (max-width: 575px) {
    .disco{
        height: 225px;
        z-index: 10;
        position: relative;
    }
    .disco:hover {
        opacity: 0.4;
        transition: 0.5s;
        filter: blur(5px)grayscale(75%);
    }
    .margen-bottom {
        margin-bottom: 20px;
    }
}

  // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .disco{
        height: 225px;
        z-index: 10;
        position: relative;
    }
    .disco:hover {
        opacity: 0.4;
        transition: 0.5s;
        filter: blur(5px)grayscale(75%);
    }
    .margen-bottom {
        margin-bottom: 20px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .disco{
        height: 300px;
        z-index: 10;
        position: relative;
    }
    .disco:hover {
        opacity: 0.4;
        transition: 0.5s;
        filter: blur(5px)grayscale(75%);
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .margen-bottom {
        margin-bottom: 50px;
    }
    .disco {
        height: 300px;
        z-index: 10;
        position: relative;
    }
    .disco:hover {
        opacity: 0.4;
        transition: 0.5s;
        filter: blur(5px)grayscale(75%);
    }
}

/* --------------------------*/

@media (max-width: 575px) { 

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
    .nombre-disco {
        font-family: 'Bitter', serif;
    font-size: 15px;
    
   
    color: white;
        
    }

    .año-disco {
        font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    
    
    color: grey;
        
    }

    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .nombre-disco {
        font-family: 'Bitter', serif;
        font-size: 15px;
    
   
        color: white;
    }

    .año-disco {
        font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    
    
    color: grey;
    }

}







// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }


.contenedor-info-disco {
    width: inherit; 
    text-align: center;
    margin-top: -50%;
    margin-bottom: 50%; 
}

/*
.contenedor-discos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    column-gap: 0px;
    padding: 10px;
    justify-items: stretch;
}

.disco {
    width: 300px;
    padding: 0px;
    background: url("img/ciudad:jpg");
    img {
        justify-self: center;
        
    }
}
*/

/*CONTACTO

.contenedor-contacto {
    display: inline;
    text-align: center;
}

.input-nombre{
    display: inline-block;
    width: 40px;
}

.input-mail {
    display: inline-block;
    width: 200px;
}
*/

.formulario {
    list-style: none;
    form {
        button {
            float: right;
            margin-top: 10px;
        }
    }
}

.pais {
    color: grey;
}
/*FOOTER*/
footer {
    height: 150px;
    background: #212529;
    text-align: center;
    
}
.contenedor-footer {
    height: 50px;
    display: inline-block;
    width: 75%;
    text-align:center;
    
    p {
        color: lightgray;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        margin-top: 30px;
        
    }
}
.contenedor-redes {
    height: 50px;
    display: inline-block;
    width: 75%;
    text-align: center;
    
    
    
}

.spotify {
    font-size: 30px;
    color: lightgray;
    margin-right: 5px;
    
}
.spotify:hover {
    font-size: 30px;
    color: #1ed761;
    margin-right: 5px;
    transition: 1s;
    
}
.facebook {
    font-size: 30px;
    color: lightgray;
    margin-left: 5px;
    margin-top: 10px;
}
.facebook:hover {
    font-size: 30px;
    color: #0071bc;
    margin-left: 5px;
    margin-top: 10px;
    transition: 1s;
}
.contenedor-ivan {
    display: inline-block;
    width: 100%;
    text-align: center;
    
    p {
        color: lightgray;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        margin-top: -30px;
        
    }     
}