*{
    margin:0;
    padding: 0;
	box-sizing: border-box;
}

@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";

header {
    background: #343a40;
    padding: 0px 40px;
    overflow: auto;
    position: sticky;
	top: 0;
	z-index: 100;
}

.menu-responsivo {
    li {
        a {
            padding-right: 40px !important;
            padding-left: 40px !important;
        }
        a:hover {
            color: #bb6128 !important;
            transition: 0.5s;
        }
    }
}

@media (max-width: 640px) { 
    body {
        background: url(../img/PORTADA-MOB.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }
}
@media (min-width: 641px) { 
    body {
        background: url(../img/PORTADA.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }
}
section {
background: black;
margin: 5%;
padding:70px 0px;
position: relative;
   
}

/*TITULOS*/

@media (max-width: 575px) { 
    .titulo {
        color: white;
        font-size: 50px;
        font-family: 'Bitter', serif;
        font-weight: bold;
        margin-top: 90%; 
        position: relative;
        text-align: center;
        height: 100vh;
        text-shadow: 2px 2px 8px #332e2e;
    }
    .subtitulo {
        font-family: 'Bitter', serif;
        font-size: 20px;
        font-style: bold;
        color: white;
        padding: 25px 0px;
        text-align: center;
    }    
}

@media (min-width: 576px) { 
    .titulo {
        color: white;
        font-size: 90px;
        font-family: 'Bitter', serif;
        font-weight: bold;
        margin-top: 55%; 
        position: relative;
        text-align: center;
        height: 100vh;
        text-shadow: 2px 2px 8px #332e2e;
    }
    .subtitulo {
        font-family: 'Bitter', serif;
        font-size: 25px;
        font-style: bold;
        color: white;
        padding: 25px 0px;
        text-align: center;
    }    
}

@media (min-width: 768px) { 
    .titulo {
        color: white;
        font-size: 100px;
        font-family: 'Bitter', serif;
        font-weight: bold;
        margin-top: 45%; 
        position: relative;
        text-align: center;
        height: 100vh;
        text-shadow: 2px 2px 8px #332e2e;
    } 
    .subtitulo {
        font-family: 'Bitter', serif;
        font-size: 40px;
        font-style: bold;
        color: white;
        padding: 25px 0px;
        text-align: center;
    }    
}

@media (min-width: 992px) { 
    .titulo {
        color: white;
        font-size: 150px;
        font-family: 'Bitter', serif;
        font-weight: bold;
        margin-top: 27%; 
        position: relative;
        text-align: center;
        height: 100vh;
        text-shadow: 2px 2px 8px #332e2e;
    }
    .subtitulo {
        font-family: 'Bitter', serif;
        font-size: 40px;
        font-style: bold;
        color: white;
        padding: 25px 0px;
        text-align: center;
    }
}
@media (min-width: 1600px) { 
    .titulo {
        color: white;
        font-size: 150px;
        font-family: 'Bitter', serif;
        font-weight: bold;
        margin-top: 30%; 
        position: relative;
        text-align: center;
        height: 100vh;
        text-shadow: 2px 2px 8px #332e2e;
    }
    .subtitulo {
        font-family: 'Bitter', serif;
        font-size: 40px;
        font-style: bold;
        color: white;
        padding: 25px 0px;
        text-align: center;
    }
}

/*INTEGRANTES*/


.contenedor {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}
.integrantes {
    text-align: center;
    padding: 0px 0px 30px;
    text-align: center;
}
.imagen-integrante:hover {
    transform: skew(-30deg);
    transition: 20s;
}
.imagen-integrante {
border-radius: 100%;
margin: auto;
height: 250px;
padding: 0px 30px;
}
@media (max-width: 575px) { 
    .imagen-integrante {
        height: 200px;    
    }
    .nombre {
        font-family: 'Bitter', serif;
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 25px 0px 0px;
        margin-bottom: 3px;
    }
    .instrumento {
        font-family: 'Noto Sans JP', sans-serif;
        font-style: normal;
        font-size: 10px;
        color: grey;
        text-align: center;
    }    
}
@media (min-width: 576px) { 
    .imagen-integrante {
        height: 275px;    
    }
    .nombre {
        font-family: 'Bitter', serif;
        color: white;
        font-size: 15px;
        text-align: center;
        padding: 25px 0px 0px;
        margin-bottom: 5px;
    }
    .instrumento {
        font-family: 'Noto Sans JP', sans-serif;
        font-style: normal;
        font-size: 12px;
        color: grey;
        text-align: center;
    }    
}
@media (min-width: 768px) { 
    .imagen-integrante {
        height: 250px;
    }
    .nombre {
        font-family: 'Bitter', serif;
        color: white;
        font-size: 15px;
        text-align: center;
        padding: 25px 0px 0px;
        margin-bottom: 10px;
    } 
    .instrumento {
        font-family: 'Noto Sans JP', sans-serif;
        font-style: normal;
        font-size: 13px;
        color: grey;
        text-align: center;
    }   
}
@media (min-width: 992px) { 
    .imagen-integrante {
        height: 275px;
    }
    .nombre {
        font-family: 'Bitter', serif;
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 25px 0px 0px;
        margin-bottom: 15px;
    } 
    .instrumento {
        width: inherit;
        font-family: 'Noto Sans JP', sans-serif;
        font-style: normal;
        font-size: 15px;
        color: grey;
        text-align: center !important;
        margin-bottom: -30px;
    }   
}


/*HISTORIA*/


.contenedor-videos {
    display: flex;
    padding: 10px 60px;
    justify-content: space-around;
    flex-flow: wrap row;
    align-items: left;
    list-style: none !important;
    margin-bottom: -20px;
        
}

@media (max-width: 575px) { 
    .historia {
        padding: 0% 5%;
            p {
                color:grey;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 12px;
            }
    }
    .video {
        display: none;
    }
}
@media (min-width: 576px) { 
    .historia {
        padding: 0% 5%;
            p {
                color:grey;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 13px;
            }
    }
}
@media (min-width: 768px) { 
    .historia {
        padding: 0% 5%;
            p {
                color:grey;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 13px;
            }
    }
}
@media (min-width: 992px) { 
    .historia {
        padding: 0% 5%;
            p {
                color:grey;
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 14px;
            }
    }
}


/*DISCOGRAFIA*/


.centrar {
    text-align: center;
    margin-bottom: -70px
}
@media (max-width: 575px) {
    .disco{
        height: 225px;
        z-index: 10;
        position: relative;
    }
    .disco:hover {
        opacity: 0.4;
        transition: 0.5s;
        filter: blur(5px)grayscale(75%);
    }
    .margen-bottom {
        margin-bottom: 20px;
    }
    .nombre-disco {
        font-family: 'Bitter', serif;
        font-size: 13px;
        color: white;
    }
    
    .a単o-disco {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 11px;
        color: grey;
    }
    .contenedor-info-disco {
        width: inherit; 
        text-align: center;
        margin-top: -20%;
        margin-bottom: 50%; 
    }
}
@media (min-width: 576px) {
    .disco{
        height: 225px;
        z-index: 10;
        position: relative;
    }
    .disco:hover {
        opacity: 0.4;
        transition: 0.5s;
        filter: blur(5px)grayscale(75%);
    }
    .margen-bottom {
        margin-bottom: 20px;
    }
    .nombre-disco {
        font-family: 'Bitter', serif;
        font-size: 13px;
        color: white;
    }
    
    .a単o-disco {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 11px;
        color: grey;
    }
    .contenedor-info-disco {
        width: inherit; 
        text-align: center;
        margin-top: -60%;
        margin-bottom: 50%; 
    }

}
@media (min-width: 768px) {
    .disco{
        height: 225px;
        z-index: 10;
        position: relative;
    }
    .disco:hover {
        opacity: 0.4;
        transition: 0.5s;
        filter: blur(5px)grayscale(75%);
    }
    .nombre-disco {
        font-family: 'Bitter', serif;
        font-size: 13px;
        color: white;
    }
    
    .a単o-disco {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 11px;
        color: grey;
    }
    .contenedor-info-disco {
        width: inherit; 
        text-align: center;
        margin-top: -60%;
        margin-bottom: 50%; 
    }
}
@media (min-width: 992px) { 
    .margen-bottom {
        margin-bottom: 50px;
    }
    .disco {
        height: 300px;
        z-index: 10;
        position: relative;
    }
    .disco:hover {
        opacity: 0.4;
        transition: 0.5s;
        filter: blur(5px)grayscale(75%);
    }
    .nombre-disco {
        font-family: 'Bitter', serif;
        font-size: 15px;
        color: white;
    }
    .a単o-disco {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 13px;
        color: grey;
    }
    .contenedor-info-disco {
        width: inherit; 
        text-align: center;
        margin-top: -50%;
        margin-bottom: 50%; 
    }
}


/*CONTACTO*/


.formulario {
    list-style: none;
    form {
        button {
            float: right;
            margin-top: 10px;
        }
    }
}

.pais {
    color: grey;
}


/*FOOTER*/


footer {
    height: 150px;
    background: #212529;
    text-align: center;
    
}
.contenedor-footer {
    height: 50px;
    display: inline-block;
    width: 75%;
    text-align:center;
    
    p {
        color: lightgray;
        font-family: 'Raleway', sans-serif;
        font-size: 11.5px;
        margin-top: 30px;
        
    }
}
.contenedor-redes {
    height: 50px;
    display: inline-block;
    width: 75%;
    text-align: center;
}
.spotify {
    font-size: 30px;
    color: lightgray;
    margin-right: 5px;
}
.spotify:hover {
    font-size: 30px;
    color: #1ed761;
    margin-right: 5px;
    transition: 1s;
    text-decoration: none !important;
}
.facebook {
    font-size: 30px;
    color: lightgray;
    margin-left: 5px;
    margin-top: 10px;
}
.facebook:hover {
    font-size: 30px;
    color: #0071bc;
    margin-left: 5px;
    margin-top: 10px;
    transition: 1s;
    text-decoration: none !important;
}
.contenedor-ivan {
    display: inline-block;
    width: 100%;
    text-align: center;
    p {
        color: lightgray;
        font-family: 'Raleway', sans-serif;
        font-size: 11.5px;
        margin-top: -10px;
        
    }
    .ivan{
        color: lightgray;
        font-family: 'Raleway', sans-serif;
        font-size: 11.5px;
        margin-top: -10px;  
    }
    .ivan:hover{
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        margin-top: -10px;
        transition: 0.5s; 
        text-decoration: none !important; 
    }    
}